h1{
    color: green;
    text-align: center;
}

h2{
    color: blue;
    text-align: center;
}

p{
    color: red;
    text-align: center;
}

table{
    background-color: cyan;
}

td{
    color: red;
    font-size: 20px;
}

input, select{
    color: blue;
    font-size: 18px;
    text-align: center;
}


